@use '../styles/responsive';

.monthly-summary-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 3rem 0;
}

.monthly-summary {
    flex-grow: 1;
    white-space: nowrap;

    @include responsive.tablet {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__value {
        font-size: 2rem;
    }
}
