@use "../../styles/colors";

.page-signup {
    min-height: 100vh;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;

    &__label {
        display: block;
        margin-bottom: 1rem;
    }

    &__input {
        display: block;
        font: inherit;
        color: inherit;
        background-color: colors.$light-neutral;
        border: none;
        padding: 0.5rem 0.75rem;
        border-radius: 0.5rem;
        margin: 0.5rem 0;
    }

    &__footer {
        margin-top: 2rem;
        color: colors.$dark-neutral;
    }
}
