@use '../styles/colors';

.category-card {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: colors.$light-neutral;
    border-radius: 1rem;
    padding: 1.5rem;

    &__title {
        margin: 0;
        font-weight: normal;
    }

    &__amount {
        font-size: 1.75rem;
    }

    &__button {
        margin-left: auto;
    }

    &--green {
        background-color: colors.$light-green;
    }

    &--pink {
        background-color: colors.$light-pink;
    }

    &--blue {
        background-color: colors.$light-blue;
    }
}
