@use '../styles/colors';

.new-tx {
    &__form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        &--submit {
            margin-top: 1rem;
        }
    }

    &__input {
        font: inherit;
        color: inherit;
        background-color: colors.$light-neutral;
        border: none;
        padding: 0.5rem 0.75rem;
        border-radius: 0.5rem;
        outline: none;

        &:focus {
            box-shadow: 0 0 0 3px colors.$dark-blue;
        }

        &:invalid {
            box-shadow: 0 0 0 3px red;
        }

        &--date {
            width: 16ch;
        }

        &--details {
            width: 24ch;
        }

        &--amount {
            width: 12ch;
            font-weight: bold;
        }

        &--total {
            pointer-events: none;
            background-color: transparent;
        }
    }
}
